@model IEnumerable<FavoriteWebsitesManagement.Models.Website>

@{
    ViewData["Title"] = "Websites";
}

<h1>Websites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count().Equals(0))
        {
            <h2 class="text-center">No data</h2>
        }
        else{
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
